@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background-color: #def0f2;
}

.bg-mobile {
  background-image: url("/scale-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-mobile-1 {
  background-image: url("/grid-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
